html, body {
	height: 100%;
	font-family: ProximaNovaReg, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#sidebar {
	border: 1px solid #E7E7E7;
	background-color: #F8F8F8;
	height: 700px;
	padding: 1em;
}

.btn {
	color: white;
	background-color: #BB3794;
	border: 1px solid #BB3794;
}

.btn:hover {
	color: white;
	background-color: #8C2577;
	border: 1px solid #8C2577;
}

.form-control {
	border-radius: 3px;
}

.navbar-form * {
	margin-left: 1em;
}

.navbar {
	background-color: white;
}