html, body {
	height: 100%;
	font-family: ProximaNovaReg, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background-color: #F3F3F3;
}

.navbar, #info {
	background-color: white;
	box-shadow: 0px 1px 2px 0px rgba(200,200,200,0.3);
	padding: 0.25em 1em;
}

.navbar-form * {
	margin-left: 1em;
}

.btn {
	color: white;
	background-color: #BB3794;
	border: 1px solid #BB3794;
}

.btn:hover {
	color: white;
	background-color: #8C2577;
	border: 1px solid #8C2577;
}

.form-control {
	border-radius: 3px;
}

#logo-img {
	padding: 0.25em 0 0.25em 15px;
}

.logo-text {
	color: #B93C93;
	font-size: 40px;
	font-family: Ubuntu;
}

#logo-text-bold {
	padding-left: 0;
	font-weight: 500;
}
#logo-text-normal {
	font-weight: 300;
}

span.distance {
	display: inline-block;
	width: 1em;
	text-align: right;
}

#status {
	text-align: center;
}

#loading {
	width: 80px;
}

#address {
	width: 25em;
}

#sunburst {
	text-align: center;
}

#sunburst-col {
	text-align: center;
}