html, body {
	height: 100%;
	font-family: ProximaNovaReg, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#sidebar {
	border: 1px solid #E7E7E7;
	background-color: #F8F8F8;
	height: 700px;
	padding: 1em;
}

.btn {
	color: white;
	background-color: #BB3794;
	border: 1px solid #BB3794;
}

.btn:hover {
	color: white;
	background-color: #962C76;
	border: 1px solid #BB3794;
}

.form-control {
	border-radius: 3px;
}