<!doctype html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/static/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/insureme.css">
</head>
<body>
<div class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">InsureMe</a>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div id="sidebar" class="col-xs-12 col-sm-3">
            <form>
                <div class="form-group">
                    <label for="address-field" class="sr-only">Email Address</label>
                    <input id="address" type="text" class="form-control" placeholder="Address">
                </div>
                <div class="form-group">
                    <label for="distance-field" class="sr-only">Distance</label>
                    <input id="distance-slider" class="distance" type="range" min="1" max="50" value="10" step="1" style="display:inline-block"/>
                    <input id="distance" class="distance form-control" type="number" min="1" max="50" value="10" style="display:inline-block; width: 60px" required>
                </div>
                <button id="search-btn" type="button" class="btn btn-default">Search</button>
            </form>
        </div>
        <div class="col-xs-12 col-sm-9"></div>
    </div>
</div>

<script src="/static/jquery-2.1.4.min.js"></script>
<script src="/static/googlemaps.js"></script>
<script src="/static/bootstrap.min.js"></script>
<script src="/static/insureme.js"></script>

</body>
</html>